.Project {
    display: inline-block;
    display: grid;
    grid-template-columns: 100%;
    margin-left: auto;
    width: calc(100% - var(--navbar-width));
    text-align: left;
}

.Project-content {
    padding-left: 3rem;
    padding-right: 3rem;
}

.Project-title {
    font-size: 84px;
    color: var(--primary);
    padding-top: 1.5rem;
    margin: 0;
}

.Project-subtitle {
    font-family: 'Lora', sans-serif;
    font-style: italic;
    font-weight: normal;
    color: var(--secondary);
    font-size: 36px;
    margin: 0;
}

.Project-image {
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-width: 40%;
    aspect-ratio: 4 / 3;
    box-shadow: 0 0 15px black;
    object-fit: cover;
}

.Project-text {
    font-size: 20px;
    line-height: 1.5;
}